@import url('https://fonts.googleapis.com/css?family=Manrope');

*{
  margin:0;
  padding:0;
}

body {
  font-family: "Manrope", 'Times New Roman', Times, serif;
  background-color: transparent;
}

input {
  border-radius: 15px;
}

button {
  border-radius: 15px;
  outline: none;
}